Moments and Memories - Booking Confirmation

Thank you for booking with Moment &amp; Memories

Name: #{photoEvent.name}
Telephone: #{photoEvent.telephone}
Date: #{photoEvent.date}
Time: #{photoEvent.startTime} - #{photoEvent.endTime}
Event: #{photoEvent.event}
Special Requirements: #{photoEvent.special}

Payment Details

Please pay of deposit of #{emailConfig.deposit} to the following account to reserve your booking 
account: #{emailConfig.accountNo}
sort code: #{emailConfig.sortCode}

